	* {
	max-width: 1000px;
	background-color: lightcyan;
	margin: auto;
	margin-bottom: 10px;
	}

	body {
  	margin: 10px;
  	padding: 0px;
  	font-family: "Montserrat",sans-serif;
	}
	
	.column1 {
	color: darkblue;
	padding: 5px;
	}

	.AoEcolumn1 {
	margin-bottom: -30px;
	top: 20px;
        position: relative;
        left: 50px;
	}

	.AoEcolumn2 {
	top: -65px;
        position: relative;
        left: 750px;
	}

	.WEcolumn1 {
	top: 30px;
        position: relative;
        left: 50px;
	}

	.WEcolumn2 {
	top: -55px;
        position: relative;
        left: 750px;
	}

    	.EBcolumn1 {
	position: relative;
	top: 10px; 
        left: 50px;
	}

    	.EBcolumn2 {
	position: relative;
	text-align: center;
	top: 5px;
	left: 20px;
	}

	.EBcolumn3 {
	position: relative;
	top: -40px;
	left: 850px;
	} 